.navbar {
  min-height: 20vh;
  //   background-color: #eff1e9 !important;
  background: linear-gradient(180deg, #eff1e9, transparent 120%) !important;
  color: white;
  margin-bottom: 50px;
  .nav-item {
    margin: auto 25px;
    a {
      font-size: 60px;
      color: white;
      font-weight: 500;

      .active {
        color: #343a40 !important;
      }
    }
  }
}
